*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#FFF1F6;
font-family:sans-serif;
}

.container{
max-width:1440px;
margin:0 auto;
padding:40px;
}

.header{
height:100px;
background:#ffd6e6;
border-radius:78px;
margin:20px;
}

.hero{
height:450px;
background:#f9c6da;
margin:40px 20px;
border-radius:40px;
}

.cards{
display:flex;
gap:30px;
margin-top:40px;
}

.card{
flex:1;
height:220px;
background:#ffd6e6;
border-radius:25px;
}

.review{
height:60px;
background:#f59ac1;
border-radius:20px;
margin:15px 0;
}

.about-box{
height:350px;
background:#ffd6e6;
border-radius:25px;
margin-top:40px;
}

.footer{
height:200px;
background:#d96b9d;
border-radius:40px;
margin:40px 20px;
}